################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Calendar/bin/Debug/Calendar.exe
/Calendar/bin/Debug/Calendar.exe.config
/Calendar/bin/Debug/Calendar.pdb
/Calendar/bin/Debug/log4net.dll
/Calendar/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
/Calendar/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/Calendar/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
/Calendar/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
/Calendar/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
/Calendar/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/Calendar/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/Calendar/bin/Debug/pl
/Calendar/obj/Debug/TempPE
*.baml
*.CopyComplete
*.cache
*.txt
*.exe
/Calendar/obj/Debug/Calendar.pdb
/Calendar/obj/Debug/Calendar.Properties.Resources.resources
/Calendar/obj/Debug/Calendar_MarkupCompile.i.lref
/Calendar/obj/Debug/Calendar_MarkupCompile.lref
/Calendar/obj/Debug
/packages
/Calendar/bin/Debug
/.vs/Calendar/v15
